@import '../../styles/styles.module.scss';

.Container {
    background-color: $ticket-color;
    padding: 20px;
    border-radius: 10px;

    .WinningNumbers {
        margin-bottom: 20px;
    }
}

.Char {
    background-color: $info-color;
    border-radius: 20px;
    padding: 0 8px;
    text-align: center;
    font-size: large;
    color: $number-color;
    font-weight: bold;
}

.Slot:not(.Slot:last-of-type) {
    margin-right: 5px;

    .SpecialChar {
        background-color: $special-number;
        color: $number-color;
    }
}

.Slot:last-of-type {
    .SpecialChar {
        background-color: $extra-special-number;
    }
}
