@import '../../styles/styles.module.scss';

.Container {
    background-color: $ticket-color;
    padding: 20px;
    border-radius: 10px;

    .WinningNumbers {
        margin-bottom: 20px;
    }
}

.NumbersText {
    font-weight: bold;
}

.Slot {
    background-color: $info-color;
    border-radius: 20px;
    padding: 5px 12px;
    text-align: center;
    font-size: large;
    color: $number-color;
    font-weight: bold;
}

.TwoDigits {
    padding: 5px 7px;
}

.Slot:not(.Slot:last-of-type) {
    margin-right: 8px;
}

.SpecialSlot {
    background-color: $special-number;
    color: $number-color;
}

.SpecialSlot:last-of-type {
    background-color: $extra-special-number;
}