$spinner-color: black;
$special-number: lighten(#ff6700, 10%);
$extra-special-number: darken($special-number, 20%);
$winning-number: darken(#d0f100, 10%);
$mute-color: #868686;
$winning-result-color: #646d28;
$info-color: #d0f100;
$ticket-color: #dfff00;
$separator-color: #404040;
$number-color: $separator-color;
$text-color: #000000;
$background-color: lighten(#242424, 10%);
$lottery-color: #ffffff;