$spinner-color: black;
$special-number: #de2a16;
$extra-special-number: #ae0000;
$winning-number: #27209c;
$mute-color: #b18500;
$info-color: #f3b600;
$ticket-color: #ffd200;
$number-color: #eee;
$text-color: #27209c;
$background-color: #3c1fb6;
$lottery-color: #331ba1;
$separator-color: #937c15;
