$spinner-color: black;
$special-number: #de2a16;
$winning-number: #27209c;
$mute-color: #b18500;
$info-color: #f3b600;
$ticket-color: #ffd200;
$number-color: #eee;
$text-color: #27209c;
$separator-color: #937c15;
