@import '../../styles/styles.module.scss';

.Picks {
    overflow-y: auto;
    max-height: 300px;

    .Pick {
        margin: 10px 0;

        .Numbers {
            display: flex;
            justify-content: space-evenly;
            margin: 5px 0;

            .Char {
                cursor: default;
                width: 30px;
                border-radius: 20px;
                border: solid 1.5px rgba(150, 150, 150, 0.7);
                padding: 1px 2px;
                text-align: center;
                color: $text-color;
                margin: 0 2px;
                font-weight: bold;
            }

            .SpecialNumber {
                border: 2px solid $special-number;

                &:last-of-type {
                    border: 2px solid $extra-special-number;
                }
            }

            .WinningNumber {
                border: 2px solid $winning-number;
                background-color: $winning-number;
                color: $number-color;
            }

            .SpecialWinningNumber {
                background-color: $special-number;
                color: $number-color;

                &:last-of-type:not(:first-child) {
                    background-color: $extra-special-number;
                }
            }
        }

        .Badge {
            background-color: $winning-result-color !important;
        }
    }
}
