@import './styles/styles.module.scss';

.Text {
    font-weight: bold;
    font-size: 16px;
}

.App {
    width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: $background-color;
    padding: 10px;

    > div {
        margin: 10px 0;
    }

    // > span {
    // color: $ticket-color;
    // font-size: 40px;
    // font-weight: bold;
    .Logo {
        font-family: 'Arial Black', sans-serif;
        font-size: 36px;
        color: $ticket-color;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding: 10px;
        border: 2px solid $ticket-color;
        border-radius: 5px;
        background-color: #222;
        display: inline-block;

        span {
            display: inline-block;
            transform: skew(-10deg);
        }
    }

    .Buttons {
        margin: 30px auto;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    .Btn {
        border: none;
        margin: 20px auto;
        font-size: 20px;
        padding: 5px 20px;
        border-radius: 5px;
        color: $text-color;
        background-color: lighten($number-color, 20%);
    }

    .Home {
        position: absolute;
        bottom: 10px;
    }
}
